Flask>=3.1,<4
Flask-SQLAlchemy>=3.1,<4
Flask-Cors>=5,<7
Flask-JWT-Extended>=4.7,<5
Flask-Limiter[redis]>=3.12,<5
python-dotenv>=1,<2
email-validator>=2,<3
midtransclient>=1.4,<2
gunicorn>=23,<24
pytest>=8,<10
